NEXT_PUBLIC_RECEIZ_MODE=mock
RECEIZ_BASE_URL=https://receiz.com
RECEIZ_ACCESS_TOKEN=

NEXT_PUBLIC_CHECKOUT_MODE=mock
CHECKOUT_PROVIDER=mock
STRIPE_SECRET_KEY=

NEXT_PUBLIC_AUTH_MODE=mock
AUTH_PROVIDER=mock

NEXT_PUBLIC_HOSTING_MODE=mock_hosted
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_SUBDOMAIN=boost.receiz.store
